.detailscontainer {
 padding: 25px;

}

.spotdetailspagename {
    padding-top: 0px;
    color: rgb(34, 34, 34);
}

.imagecontainer {
    display: flex;
    justify-content: center;


}

.picturegrid {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    width: 50%;
    justify-content: center;
    overflow: hidden;

}




.leadpicture {
    object-fit: cover;
    width: 50%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;


}

.innerpicture {
    object-fit: cover;
    width: 49%;
    height: 49.6%;
}


.infocontainer {
    display: flex;
    justify-content: space-between;
    border-bottom: rgba(34,34,34,.15) solid 1px;
    padding: 20px;
}

.informationBox {
    box-shadow: 0 4px 20px rgba(34,34,34,.15);
    border: 1px solid rgba(34,34,34,.15);
    border-radius: 10px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

}

.topbox {
    display: flex;
    gap: 70px;
    justify-content: space-between;
    align-items: center;
}

.rightcontainer {
    display: flex;
    justify-content: center;
}

/* .reservebutton {
    width: 300px;
    height: 50px;
    margin: 0 20px 20px 20px;
    color: white;
    background-color: #FF385C;
    box-shadow: 2px 3px 3px black;
    cursor: pointer;
} */


.reviewlist {
    list-style-type: none;
    padding-left: 0;
}

.reviewlistinner {
    padding-bottom: 20px;
}



.pricedetails {
    font-size: 20px;
}

.reviewdate {
    margin: 5px 0;
    color: grey;
    padding-left: 10px;
}

.reviewdat  {
    margin: 0px;

}

.two {
    border-top-right-radius: 20px;
}

.four {
    border-bottom-right-radius: 20px;
}
.datebox {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;



}

.right {
    border-left: 1px solid grey;
}
.checkformbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid grey;
    border-radius: 10px;
}

.bookingsform {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}



.post-booking-button {
    padding: 5px;
    width: 100%;
    height: 40px;
    background-color: #FF385C;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.post-booking-button-container {
    padding: 15px;
    width: 80%;

}

.spotdetailsleftcontainer {
    padding-right: 60px;
}

.reviewlist {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profileimage {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
}

.hostinfo {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(34,34,34,.15);
}

.reviewuserinfo {
    display: flex;
    align-items: center;
}

.reviewdat {
    padding: 10px;
}
