.managespotcard {
margin: 5px;

}

/* .updatedeletespotbutton {
    list-style: none;
    margin: 10px 10px 10px 0;
    color: white;
    background-color: grey;
    box-shadow: 2px 3px 3px black;

} */

.spotcards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.buttoncontainer {
    display: flex;
    justify-content: center;
    /* justify-content: space-around; */
}

.managebutton {
    background-color: #FF385C;
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    margin: 10px;
    height: 50px;
    width: 200px;
    cursor: pointer;

}

.nospotsyet {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.airRvtitle {
    color: #FF385C;
    font-weight: bold;
    font-size: 50px;
    padding: 20px;
}

.earndiv {
    font-weight: bold;
    font-size: 40px;
}

.earnbynights {
    color: grey;
    padding: 20px;
}
