.managespotcard {
margin: 5px;

}

.updatedeletespotbutton {
    list-style: none;
    margin: 10px 10px 10px 0;
    color: white;
    background-color: grey;
    box-shadow: 2px 3px 3px black;

}

.spotcards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.buttoncontainer {
    display: flex;
    justify-content: space-around;
}
